<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           https://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入外部属性文件-->
    <context:property-placeholder location="classpath:db.properties"/>

    <!--创建数据源对象-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--创建SqlsessionFactoryBean对象-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--引入分页插件-->
        <!--方法一-->
     <!--   <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    &lt;!&ndash;告诉分页插件使用的是什么数据库&ndash;&gt;
                    <property name="properties">
                        <props>
                            &lt;!&ndash;helperDialect：分页插件的方言&ndash;&gt;
                            <prop key="helperDialect">mysql</prop>
                        </props>
                    </property>
                </bean>
            </array>
        </property>-->

        <!--方法二-->
        <property name="configLocation" value="classpath:SqlMapperConfig.xml"/>
    </bean>

    <!--扫描包，创建dao接口，接口动态代理对象-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--指定dao层包路径-->
        <property name="basePackage" value="net.togogo.mapper"/>
    </bean>

</beans>